.sortMyListPage {
  height: 100%;
  background: #fff;

  &__inner {
  }
  .navMenu {
    box-shadow: none !important;
  }

  .myInputs {
    > div {
      > div {
        border-radius: 0 !important;
        padding: 8px 25px 8px 12px;
        background: rgb(237, 242, 249) !important;
        > div:nth-child(1) {
          > div {
            font-size: 18px !important;
            font-weight: 600 !important;
          }
        }
      }
    }
  }
}
